@import "tailwindcss";

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.4s ease-out;
}

@keyframes hydrogenBubble {
  0% {
    transform: translate(0, 0) scale(0.6);
    opacity: 0;
  }
  30% {
    opacity: 0.9;
  }
  100% {
    transform: translate(-10px, -120px) scale(1.2);
    opacity: 0;
  }
}

@keyframes oxygenBubble {
  0% {
    transform: translate(0, 0) scale(0.6);
    opacity: 0;
  }
  30% {
    opacity: 0.7;
  }
  100% {
    transform: translate(6px, -90px) scale(1);
    opacity: 0;
  }
}

.animate-h2 {
  animation: hydrogenBubble 1.6s ease-out infinite;
}

.animate-o2 {
  animation: oxygenBubble 3s ease-out infinite;
}

@keyframes riseUp {
  0% {
    transform: translateY(0) translateX(0);
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(-60px) translateX(10px);
    opacity: 0;
  }
}
@keyframes pop {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
